/* estilo padrão (desktop) */
.cart {
    margin: 0 auto;
    position: relative;
    width: 500px;
    height: 316px;
    background-image: url(../images/cart_estudante.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
}

.cart-mobile-img {
    display: none; /* escondido no desktop */
}

/* responsivo */
@media screen and (max-width: 768px) {
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    /* esconder conteúdo do cartão no mobile */
    #cart-qrcode,
    #cart-validade,
    #cart-picture {
        display: none;
    }

    /* esconder background no mobile */
    .cart {
        background: none;
        width: 100%;
        height: auto;
        display: block;
    }

    /* mostrar a imagem do cartão responsiva */
    .cart-mobile-img {
        display: block;
        width: 100%;
        height: auto;
    }
}
