html{
    font-family: sans-serif;
}

body{
    background-image: url(../images/background_azul.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .header-img{
    padding-top: 30px;
}

.header-title{
    text-align: center;
    
    padding-bottom: 20px;
}

.header-title h1{
    font-family: sans-serif;
    justify-content: center;
    font-size: 32px;
    font-weight: 400;
    padding-top: 8px;
    color: rgb(51, 51, 51);
}

.header-title b{
    font-weight: 700;
    line-height: 41.6px;
    text-size-adjust: 100%;
}

#resultado{
    padding: 10px;
    background-color: #EFEFEF;
}

.cart{
    margin: 0 auto;
    position: relative;
    width: 500px;
    height: 316px;
    background-image: url(../images/cart_estudante.png);
    display: flex;
}

.identification{
    position: absolute;
    top: 94px;
    left: 160px;
}

.identification p{
    margin: 10px 0 10px 0;
    height: 0.5px;
}

#cart-picture img{
    width: auto;
    height: 140px;
    margin-top: 95px;
    margin-left: 40px;
}

.espaco-cart{
    margin-bottom: 3px;
}

#cart-nome{
    font-weight: bold;
}

#cart-validade{
    position: absolute;
    top: 180px;
    left: 370px;
    text-align: center;
    font-size: 16px;
    line-height: 20.8px;
}

#cart-codigo{
    position: absolute;
    top: 270px;
    left: 206px;
    text-align: center;
    font-weight: bold;
}

#cart-qrcode img{
    height: 70px;
    position: absolute;
    top: 240px;
    left: 50px;
}

.identification span{
    color: white;
}

footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.link{
    display: flex;
    justify-content: space-around;
    border: 1px solid #333;
    width: 132px;
    height: 42px;
    line-height: 40px;
    float: left;
    margin: 5px;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-weight: 700;
    font-size: 12.8px;
    padding-left: 18px;
}

.link:hover{
    background-color: #3388cc;
}

.link .img{
    margin-top: 8px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 22%;
    height: 60%;
}

.link span{
    margin-right: 10px;
}

.sobre{
    height: 38%;
    margin-top: 13px;
    margin-right: -5px;
    display: flex;
    justify-content: center;
    text-align: center;
}